page-slide {
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .background-image {
    background-size: cover;
    background: url('../../assets/imgs/cattia/11p01.jpg') no-repeat;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 20%;
    max-width: 30%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  ion-col ion-slides {
    padding: 5px;
    text-align: center;
  }

  ion-slides {
    position: absolute;
  }

}
