<ion-header>
  <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>exhibit arhitectura</ion-title>
    <ion-buttons end>
      <ion-item no-lines>
        <ion-label fixed item-start>Monochrome</ion-label>
        <ion-toggle item-start [(ngModel)]="blackWhiteToggle" (ngModelChange)="updateBlackWhite()"></ion-toggle>
        <ion-label>Color</ion-label>
      </ion-item>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div (click)="nextProject()">
  <ng-template  let-slides ngFor [ngForOf]="availableSlides" let-index="index">
    <!--<ion-fab vertical="center" horizontal="center" slot="fixed">
      <button ion-fab mini><ion-icon name="arrow-dropup" (click)="nextProject()" style="z-index: 50"></ion-icon></button>
    </ion-fab>-->
    <ion-slides loop #activeSlideComponent *ngIf="index == currentProjectIndex" class="active-slide">
      <ion-slide *ngFor="let slide of slides" class="swiper-no-swiping">
        <div class="slide-image-div" padding [ngStyle]="{'position': 'relative', 'margin-left': slide.padding}">
          <ion-fab *ngIf="index == currentProjectIndex" left bottom slot="fixed">
            <button ion-fab mini>
              <ion-icon [name]="showTitle ? 'arrow-dropup' : 'arrow-dropdown'" (click)="toggleTitle($event)" style="z-index: 50" ></ion-icon>
            </button>
          </ion-fab>
          <img class="slide-image" [src]="slide.image" (click)="nextSlide($event)"/>
          <div *ngIf="showTitle" class="slide-title"><h2 *ngIf="index == currentProjectIndex" [innerHTML]="slide.title"></h2></div>
          <p *ngIf="index == currentProjectIndex" [innerHTML]="slide.description"></p>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-slides *ngIf="index != currentProjectIndex" class="inactive-slide">
      <ion-slide *ngFor="let slide of slides | slice:0:1">
        <div class="slide-image-div" padding [ngStyle]="{'position': 'relative', 'margin-left': slide.padding}">
            <img [src]="slide.image"/>
        </div>
      </ion-slide>
    </ion-slides>
  </ng-template>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <a href="http://exhibit.ro/">
            <ion-img style="width: 210px; height: 60px;" src="assets/imgs/Logo_Exhibit_suport_A4.png" cache=true></ion-img>
          </a>
        </ion-col>
        <ion-col>
          <ion-fab left bottom>
            <button ion-fab color="light"><ion-icon name="md-share"></ion-icon></button>
            <ion-fab-list side="right">
              <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
              <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
              <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
              <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
            </ion-fab-list>
          </ion-fab>
        </ion-col>
      </ion-row>
      <ion-buttons end>
        <button ion-button icon-end color="royal" menuToggle>
          Meniu
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
