page-slide {
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .scroll-content {
    overflow-y: hidden;
  }

  .slide-zoom {
    text-align: left;
    height: 100%;
  }
  .slide-image {
    position: relative;
    height: 80vh;
    object-fit: cover;
  }

  .slide-title {
    position: absolute;
    background-color: white;
    color: black;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  ion-col ion-slides {
    padding: 5px;
    text-align: center;
  }

  ion-slides {
    position: absolute;
  }

  .active-slide {
    z-index: 2;
  }

  .inactive-slide {
    z-index: 1;
  }
}
